/*  General  */
h2 {
    padding: 3% 0 10px 3%;
}

/*  Bilder  */
.img-music {
    width: 100%;
    padding-bottom: 15px;
}

/*  Logga in-formuläret  */
.login-form {
    padding: 5% 3%;
}

.login-form input {
    margin-bottom: 10px;
}

/*  Tabeller  */
.my-list {
    width: 90%;
}

.noborder {
    border: 0;
    border-bottom: solid 1px darkgray;
}

.my-table {
    width: 80% !important;
}

#my-formtable {
    width: 40% !important;
}